:root {
  --dev-utils-widget-height: 340px;
}

#widget-dev-utils {
  width: 100%;

  & > .container {
    height: var(--dev-utils-widget-height);
    padding: 8px 12px 15px;
  }

  .react-tabs {
    height: 100%;

    .react-tabs__tab-panel {
      height: calc(var(--dev-utils-widget-height) - 26px - 8px - 15px);

      section {
        height: 100%;
        position: relative;
      }

      .container {
        height: 100%;
        border: 0;
        background: transparent;
        box-shadow: none;
      }

    }
  }
}
