
.encode-container {

  .signature-button {
    display: inline-block;
    padding: 0 4px;
    min-height: 5px;
    font-size: 0.65rem;
    line-height: 1em;
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
    background: none;
    text-transform: none;
    &:hover {
      background: none;
      text-decoration: none;
    }
  }

  .signature-modal-dialog {

    .select-container {
      display: flex;
      align-items: center;
    }

    label {
      width: 100%;
      font-size: 0.7rem;
      text-align: left;
    }
    textarea, select {
      font-size: 0.7rem;
      /*padding: 4px 6px;
      outline: none;*/
    }
  }

}