
#widget-dev-utils {
  --input-area-height: 117.5px;

  .encode-container {
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    padding-right: calc(var(--action-bar-padding) - 8px);
    padding-left: 6px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 5px;

    .control-bar {
      width: 100%;
      height: 26px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      select {
        font-size: 0.7rem;
        padding: 4px 6px;
        outline: none;
      }

      .title {
        align-self: flex-end;
      }
    }

    .title {
      height: 12px;
      font-size: 0.7rem;
      font-weight: 600;
      line-height: 1em;
      color: var(--text-muted);
      text-shadow: var(--text-shadow);
      text-align: left;
      align-self: flex-start;
      padding: 0 4px;
      margin-top: -2px;
      position: relative;
      top: 3px;
    }

    .encoded-container, .decoded-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      & > * {
        flex: 1;
      }

      .action-bar {
        top: 0;
        right: -27px
      }
    }

    .decoded-container {
      .file-error-message {
        background: #cc0000;
        color: white;
        padding: 3px 7px;
        font-size: 0.6rem;
        line-height: 1.2em;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        display: none;
      }

      .drag-zone {
        /*border: 1px dashed var(--border);*/
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-family: sans-serif;
        color: rgb(from var(--text-primary) r g b / 0.65);
        background: var(--input-background);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.highlight {
          outline: 1px dashed var(--accent); /* Highlight on drag over */
          outline-offset: -5px;
          /*background-color: rgb(from var(--accent) r g b / 0.005);*/
        }
        .placeholder {
          font-size: 0.7rem;
          letter-spacing: 0.5px;
          color: rgb(from var(--text-primary) r g b / 0.55);
          display: flex;
          align-items: center;
          gap: 4px;
          svg {
            font-size: 0.8rem;
          }
        }

        display: none;
      }

      .decoded-file-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 3px 7px;
        border-radius: 5px;
        border: 1px solid var(--input-background);
        font-size: 0.7rem;
        line-height: 1.1em;
        display: none;

        /* -- FILE Preview - */
        img,
        span {
          width: 30px;
          min-width: 30px;
          height: 30px;
          border-radius: 4px;
          border: 1px solid var(--input-background);
          background: var(--input-background);
          object-fit: cover;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--text-muted);
          font-size: 1.4rem;
        }

        & div {
          flex: 1;
          text-align: left;
          height: 30px;
          max-height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          /* -- FILE Name - */
          p {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 30px;
            margin: 0;
            padding: 0;
            display: block;
            overflow: hidden;
          }

          /* -- FILE Size - */
          &:last-child {
            flex: unset;
            justify-content: flex-end;
            white-space: nowrap;
          }
        }

      }

      .decoded-text-editable {
        display: none;
      }
      .decoded-jwt-header-editable {
        height: 50px;
        max-height: 50px;
        display: none;
      }
    }

    .encoded-container {
      .action-bar {
        top: auto;
        bottom: 0;
      }
    }


    &.encode-type-JWT,
    &.encode-type-URL {
      .decoded-container {
        .action-bar {
          .download-button {
            display: none;
          }
          .copy-button {
            display: flex;
          }
        }
        .drag-zone {
          display: none;
        }
        .decoded-text-editable {
          display: block;
        }
      }

      .input-area {
        &:before {
          content: attr(data-placeholder-url)
        }
      }
    }

    &.encode-type-JWT {
      .decoded-container {
        .action-bar {
          top: 55px;
        }
        .decoded-jwt-header-editable {
          display: block;
        }
      }
      .encoded-container {
        flex: unset;
        .encoded-text-editable {
          height: 90px;
          min-height: 90px;
          max-height: 90px;
        }
      }
      .signature-container {
        display: block;
      }
      .action-bar {
        &.clear-all {
          right: -6px;
          top: auto;
          margin-top: 0;
          bottom: 88px;
          transform: none;
        }
      }
      .input-area {
        &:before {
          content: attr(data-placeholder-jwt)
        }
      }
    }

    &.encode-type-base64,
    &.encode-type-base32 {
      .decoded-container {
        .action-bar {
          .download-button {
            display: flex;
          }
          .copy-button {
            display: none;
          }
        }
        .drag-zone {
          display: flex;
        }
        .decoded-text-editable {
          display: none;
        }
        textarea {
          display: none;
        }
      }

      .input-area {
        &:before {
          content: attr(data-placeholder-file)
        }
      }
    }

    &.has-file {
      .decoded-container {
        .decoded-file-container {
          display: flex;
        }
      }
    }

    &.file-error {
      .decoded-container {
        .file-error-message {
          display: block;
        }
      }
    }

    .action-bar {
      &.clear-all {
        right: -6px;
        margin-top: 19px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .signature-container {
      position: absolute;
      right: calc(var(--action-bar-padding) - 8px);
      bottom: 90px;
      display: none;

      .signature-button {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        padding: 0 5px 3px;
        font-size: 0.65rem;
        color: var(--accent);
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }

      .signature-modal {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        background: var(--main-background);
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 3px;
        box-shadow: var(--container-box-shadow);
        z-index: 10;
        display: none;

        label {
          font-size: 0.7rem;
          text-align: left;
        }
        input {
          font-size: 0.7rem;
          padding: 4px 6px;
          outline: none;
        }
      }

      &.open {
        .signature-modal {
          display: flex;
        }
      }
    }

    .input-area {
      width: 100%;
      height: 100%;
      max-height: var(--input-area-height);
      resize: none;
      outline: none;
      padding: 3px 8px;
      margin: 0;
      text-align: left;
      font-family: var(--font-family);
      border-radius: 5px;
      border: 0;
      color: var(--text-primary);
      background: var(--input-background);
      font-size: 0.65rem;
      overflow: auto;

      &:before {
        content: attr(data-placeholder);
        color: var(--text-muted);
        position: absolute;
        pointer-events: none;
      }

      &:focus, &:active, &.has-text {
        &:before {
          content: none;
        }
      }
      &.has-error {
        &:before {
          content: attr(data-errormessage);
          color: #c00;
        }
      }
    }

    pre {
      margin: 0;
      padding: 0;
    }

  }

}