
.decoded-container {

  .decoded-jwt-header, .decoded-jwt-claim {
    padding: 2px 0 2px 4px !important;
    textarea {
      outline: none;
    }

    /*.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
      background: transparent !important;
    }*/

  }

  .decoded-jwt-header {
    height: 55px !important;
    min-height: 55px !important;
    max-height: 55px !important;
  }

  .decoded-jwt-claim {
    height: 75px !important;
    min-height: 75px !important;
    max-height: 75px !important;
  }

  & pre {
    outline: none;
    padding: 0 !important;
    text-align: left;
    color: var(--text-primary);
    background: transparent !important;
    border-radius: 5px;
    & code {
      outline: none;
      display: block;
      height: 100%;
      background: var(--input-background);
      font-size: 0.65rem;
      padding: 2px 5px;
      overflow: auto;

      &:before {
        content: attr(data-placeholder);
        color: var(--text-muted);
        font-family: var(--font-family);
        position: absolute;
        pointer-events: none;
      }

      &:focus, &:active, &.has-text {
        &:before {
          content: none;
        }
      }
      &.has-error {
        &:before {
          content: attr(data-errormessage);
          color: #c00;
        }
      }
    }
  }
}
