
dialog {
  color: var(--text-primary);
}

.widget-dialog {
  position: absolute;
  inset: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  z-index: 5;
  flex-direction: column;
  justify-content: stretch;

  &:open {
    /*top: 10px;*/
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    /*justify-content: center;
    align-items: flex-start;*/
  }

  .dialog-content {
    /*transform: translateY( calc( var(--widget-notes-height) / 2 - 75px ) );*/
    position: relative;
    width: fit-content;
    min-height: 75px;
    min-width: 200px;
    /*max-width: 200px;*/
    background: var(--main-background);
    border: 1px solid var(--border);
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    box-shadow: var(--container-box-shadow);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3px;

    .dialog-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .dialog-header-title {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }

    & .close-button {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 0;
      width: 22px;
      height: 22px;
      opacity: 0.25;
      svg {
        width: 16px;
        height: 16px;
      }
    }

    & h3 {
      margin: 0;
      padding: 0;
      font-size: 0.8rem;
      font-weight: 500;
    }
    & p {
      margin: 0;
      padding: 0;
      font-size: 0.7rem;
    }

    &.danger {
      border: 1px solid rgb(from #c00 r g b / 35%);

      & h3 {
        color: #c00;
      }
    }

    & .dialog-buttons {
      padding-top: 5px;
      margin-bottom: -0.15rem;
      width: calc(100% + 0.3rem);
      display: flex;
      justify-content: flex-end;
      gap: 5px;

      button {
        font-size: 0.6rem;
        background: var(--input-background);
        opacity: 0.65;
        &.btn-danger {
          background: #c00;
          color: #fff;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }


  &.full-width {
    width: 100%;

    & .dialog-content {
      width: 100%;
    }
  }

  &.position-bottom {
    top: auto;
    bottom: 0;
  }


}