
select {
  width: 100%;
  padding: 5px 8px;
  border: 0;
  border-radius: 4px;
  background: var(--input-background);
  color: var(--text-primary) !important;
  font-size: 0.8rem;
  font-family: inherit;

  optgroup,
  option {
    background-color: var(--container-background);
  }
}

input {
  outline: none;

  &:not([type="checkbox"]) {
    width: 100%;
    padding: 5px 8px;
    border: 0;
    border-radius: 4px;
    background: var(--input-background);
    color: var(--text-primary);
    font-size: 0.8rem;
    font-family: inherit;
  }

  /* -- SWITCH CHECKBOX - */
  &:where([type="checkbox"][role="switch"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    color: inherit;
    font-size: inherit;
    width: 2em;
    height: 1em;
    box-sizing: content-box;
    border: 1px solid;
    border-radius: 1em;
    vertical-align: text-bottom;
    margin: auto;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      box-sizing: border-box;
      width: 0.7em;
      height: 0.7em;
      margin: 0 0.15em;
      border: 1px solid;
      border-radius: 50%;
      background: currentcolor;
    }

    &:checked {
      /*background: var(--accent);*/
      border-color: var(--accent);

      &:before {
        left: 1em;
        background: var(--accent);
        border-color: var(--accent);
      }
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  &.has-error {
    background: rgba( 204, 0, 0, 0.05);
    outline: 1px dashed rgba( 204, 0, 0, 0.35);
    outline-offset: -1px;
  }
}

/* -- BUTTON - */
.circle-button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb( from var(--main-background-invert) r g b / 0.2);
  color: var(--text-primary);
  cursor: pointer;
  position: relative;
  opacity: var(--button-opacity);
  filter: drop-shadow(var(--text-shadow));
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1 !important;
  }

  svg {
    width: 1.2em;
    height: auto;
  }

  .icon-regular,
  .icon-hover {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .icon-regular {
    opacity: 1;
  }
  .icon-hover {
    opacity: 0;
  }
  &:has(.icon-hover):hover .icon-regular {
    opacity: 0;
  }
  &:hover .icon-hover {
    opacity: 1;
  }
  &.danger-button:hover .icon-hover {
    color: #ff0000;
    opacity: 1;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb( from var(--accent) r g b / 0.25);
  border-radius: 4px;
  color: var(--text-primary);
  font-size: 0.65rem;
  min-height: 20px;
  padding: 0 10px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:not(:disabled):hover {
    background: rgb( from var(--accent) r g b / 0.45);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
