:root {
  --text-primary: #111827;
  --text-muted: rgb( from var(--text-primary) r g b / 0.35);
  --accent: #38bdf8;
  --accent-contrast: #fff;

  --main-color-invert: #f8fafc;
  --main-background-invert: rgb(32, 34, 43);

  --button-opacity: 0.55;
  --main-background: rgb(246, 248, 250);
  --container-background: rgb(246, 248, 250);
  --container-opacity: 0.98;

  --text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
  --container-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.65) inset, 0 14px 30px -24px rgba(15, 23, 42, 0.9);
  --input-background: rgba(0,0,0,0.05);

  --border: rgb( from var(--text-primary) r g b / 0.15);
  --border-radius: 6px;
  --scrollbar-background: #F7F7F9;
  --scrollbar-thumb: rgba(0,0,0,0.25);

  --weather-days-number: 7;
  --top-container-height: 125px;
  --weather-icon-size: 70px;
  --widgets-distance: .85rem;
  --action-bar-padding: 30px;

  --font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  -webkit-user-select: none;
  user-select: none;
}
.theme-dark {
  --text-primary: #f8fafc;

  --main-color-invert: #111827;
  --main-background-invert: rgb(246, 248, 250);

  --button-opacity: 0.35;
  --main-background: rgb(32, 34, 43);
  --container-background: rgb(32, 34, 43);

  --text-shadow: 1px 1px 0 rgba(0,0,0,1);
  --container-box-shadow: 0 0 0 1px rgba(15, 23, 42, 0.65) inset, 0 14px 30px -24px rgba(15, 23, 42, 0.9);
  --input-background: rgba(255,255,255,0.05);

  --scrollbar-background: #102331;
  --scrollbar-thumb: rgba(255,255,255,0.25);
}

.widgets-size-medium {
  --weather-icon-size: 60px;
  --top-container-height: 106px;
  --widgets-distance: .75rem;
}
.widgets-size-small {
  --weather-icon-size: 50px;
  --top-container-height: 90px;
  --widgets-distance: .65rem;
  --weather-days-number: 6;
}

::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--scrollbar-background);
}
::-webkit-scrollbar, *::-webkit-scrollbar {
  border-radius: 20px;
  width: 4px;
  height: 4px;
  background-color: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--scrollbar-thumb);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html { height: 100% }
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: transparent;
  font-family: var(--font-family);
  color: var(--text-primary);
  font-size: 16px;
  overflow: hidden;
}

hr {
  height: 0;
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-top: 1px solid var(--border);
}

pre {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--widgets-distance);
}

#top-container {
  width: 100%;
  height: var(--top-container-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 2px 0;
  margin: 0;

  &:hover {
    #settings-container {
      .settings-menu-open {
        opacity: var(--button-opacity);
      }
    }
  }

  #analog-clock,
  #digital-clock { order:1; }
  #weather-widget { order: 2; }
}

#main-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;

  .containers-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2px;
    gap: var(--widgets-distance);
    transition: all 0.2s ease-in-out;

    & > div, .widget-container {
      width: 100%;
      transition: all 0.2s ease-in-out;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 8px 12px 15px;
  border-radius: var(--border-radius);
  /*box-shadow: var( --container-box-shadow);*/
  background: rgba(from var(--container-background) r g b / var(--container-opacity));
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.2s ease-in-out;

  * {
    transition: all 0.2s ease-in-out;
  }

  &:has(.action-bar) {
    padding-right: calc(var(--action-bar-padding) + 8px);
  }

  .alert-message {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    &.error {
      background-color: #c00;
      color: white;
    }
  }

  /* -- ACTION BAR - */
  .action-bar {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    opacity: 0.45;

    .circle-button {
      width: 24px;
      height: 24px;

      svg {
        width: 0.9rem;
        min-width: 0.9rem;
      }
    }
  }
  &:hover .action-bar,
  &:focus-within .action-bar,
  &:active .action-bar {
    opacity: 1;
  }
}

/* -- TOAST - */
.react-hot-toast {
  padding: 4px 12px;
  font-size: 0.8rem;

  div[role='status'] {
    margin: 1px 5px;
  }
  svg {
    width: 0.9rem;
    height: auto;
  }
}

/* -- LINK - */
.external-link {
  color: var(--accent);
  text-decoration: underline;
  font-style: italic;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.85;
    text-decoration: none;
  }
}

/* -- LOADER - */
.container-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(from var(--container-background) r g b / 0.65);
  z-index: 100;
  color: var(--accent);
}

.rotate-icon {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}