
.tabs {
  width: 100%;

  input[name=tab-control],
  input[name=server-tab-control] {
    display: none;
  }

  ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    height: 26px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: var(--border);
    }

    li {
      width: auto;
      height: 100%;
      max-width: 25%;
      padding: 0;
      display: flex;
      align-items: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid transparent;

      label {
        width: auto;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 5px 8px;
        font-size: 0.7rem;
        line-height: 1em;
        font-weight: 600;
        color: var(--text-muted);
        text-shadow: var(--text-shadow);
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover, &:focus, &:active {
          outline: 0;
          color: var(--text-muted);
        }

        svg {
          width: .8rem;
          height: .8rem;
          display: block;
          min-width: .8rem;
        }
      }
    }
  }

  & > .content {
    section {
      display: none;
      -webkit-animation-name: content;
              animation-name: content;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
    }
  }

  & > input[name=tab-control],
  & > input[name=server-tab-control] {
    &:nth-of-type(1):checked ~ ul > li:nth-child(1),
    &:nth-of-type(2):checked ~ ul > li:nth-child(2),
    &:nth-of-type(3):checked ~ ul > li:nth-child(3),
    &:nth-of-type(4):checked ~ ul > li:nth-child(4) {
      background-color: var(--input-background);
      border-color: var(--accent);
    }

    &:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
    &:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
    &:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
    &:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
      cursor: default;
      color: var(--text-primary);
    }

    &:nth-of-type(1):checked ~ .content > section:nth-child(1),
    &:nth-of-type(2):checked ~ .content > section:nth-child(2),
    &:nth-of-type(3):checked ~ .content > section:nth-child(3),
    &:nth-of-type(4):checked ~ .content > section:nth-child(4) {
      display: block;
    }
  }

}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}