
#widget-dev-utils {
  --input-area-height: 117.5px;

  .encode-container {
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    padding-right: calc(var(--action-bar-padding) - 4px);
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;

    .processing {
      position: absolute;
      top: -22px;
      right: -1px;
      color: var(--accent);
    }

    .control-bar {
      width: calc(100% + var(--action-bar-padding) - 4px);
      height: 26px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      select {
        font-size: 0.7rem;
        padding: 4px 6px;
        outline: none;
      }

      .title {
        align-self: flex-end;
      }

      &.encoded {
        width: 100%;
        height: auto;
      }

      .error-message {
        padding: 0 4px;
        font-size: 0.7rem;
        color: #c00;
        line-height: 0.8em;
      }
    }

    .title {
      height: 12px;
      font-size: 0.7rem;
      font-weight: 600;
      line-height: 1em;
      color: var(--text-muted);
      text-shadow: var(--text-shadow);
      text-align: left;
      align-self: flex-start;
      padding: 0 4px;
      margin-top: -2px;
      position: relative;
      top: 3px;
    }

    .encoded-container, .decoded-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      & > * {
        flex: 1;
      }
    }

    .input-area {
      width: 100%;
      height: 100%;
      max-height: var(--input-area-height);
      background: var(--input-background);
      /*resize: none;
      outline: none;
      padding: 3px 8px;
      margin: 0;
      text-align: left;*/
      font-family: 'Fira code', 'Fira Mono', monospace !important;
      /*border-radius: 5px;
      border: 0;
      color: var(--text-primary);
      background: var(--input-background);*/
      font-size: 0.65rem;
      overflow: auto;
      position: relative;

      &::placeholder {
        /*color: var(--text-muted);*/
        font-size: 0.65rem;
        /*font-family: var(--font-family);*/
      }

      &::before {
        content: attr(data-placeholder);
        color: var(--text-muted);
        font-family: var(--font-family);
        font-size: 0.65rem;
        position: absolute;
        top: 3px;
        left: 8px;
        pointer-events: none;
      }

      &:focus, &:active, &.has-text {
        &:before {
          content: none;
        }
      }
      &.has-error {
        &::placeholder {
          color: #c00;
        }
        &::before {
          content: attr(data-errormessage);
          color: #c00;
        }
      }
    }



  }

}