* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#root {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
a { color: #71baca; }
.row {
  display: flex;
  align-items: center;
  gap: 10px;
}
#icon {
  width: 120px;
  height: 120px;
  padding: 4px;
  margin: 20px 0 15px;
  border: 1px solid #cccccc;
  border-radius: 50%;
}
#name {
  font-size: 16px; font-weight: bold; span { font-size: 10px; }
}
#homepage {
  font-size: 10px;
}
#author {
  font-size: 10px;
}
#versions {
  width: 100%;
  margin: 10px 0 25px;
  border: 0;
  border-collapse: collapse;
  font-size: 10px;
  opacity: 0.35;
  tr td {
    width: 50%;
    &:first-child {
      text-align: right
    }
  }
}
#bugs {
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.credits {
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}