<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: http://ip-api.com/ https://api.open-meteo.com/;" />
</head>
<body>
<input type="hidden" id="global-time" />

<div id="drag-icon" style="display: none">
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
    <path fill="currentColor" d="M3 15v-2h2v2zm0-4V9h2v2zm4 4v-2h2v2zm0-4V9h2v2zm4 4v-2h2v2zm0-4V9h2v2zm4 4v-2h2v2zm0-4V9h2v2zm4 4v-2h2v2zm0-4V9h2v2z" />
  </svg>
</div>

<div id="root"></div>

<!--<div id="top-container"></div>

<div class="content-container-wrapper">
  <div id="content-container"></div>
</div>-->

</body>
</html>
