
.encoded-container {
  .encoded-text-editable {
    height: 90px;
    min-height: 90px;
    max-height: 90px;
  }
}

.encode-type-JWT {
  .encoded-container {
    .encoded-text-editable {
      height: 80px;
      min-height: 80px;
      max-height: 80px;
    }
  }
}