/* -- ANALOG CLOCK - */

#analog-clock {
  --analog-clock-size: var(--top-container-height);
  --analog-clock-main-color:  #000;
  --analog-clock-second-color:  #000;

  width: var(--analog-clock-size);
  aspect-ratio: 1;
  background: #fff url('/public/images/clockface.jpg') center center;
  border: calc(var(--analog-clock-size) * .04) solid #000;
  border-radius: 50%;
  box-shadow:
    inset -5px -5px 20px rgba(0,0,0,.1),
    inset 3px 3px 15px rgba(0,0,0,.4),
    3px 3px 15px rgba(0,0,0,.15),
    8px 8px 30px rgba(0,0,0,.15);
  position: relative;
  z-index: 1;
}
#analog-clock:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background: transparent;
  border: calc(var(--analog-clock-size) * .03) solid white;
}
#analog-clock:after {
  content: '';
  width: 105%;
  height: 105%;
  border-radius: 50%;
  display: block;
  background: transparent;
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  box-shadow: -2px -2px 6px rgba(255,255,255,.15);
}
#analog-clock .logo {
  position: absolute;
  left: 50%;
  top: 21%;
  transform: translateX(-50%);

  & svg {
    width: 0.8em;
    height: auto;
    color: var(--analog-clock-main-color);
    opacity: 0.35;
    filter: drop-shadow(1px 1px 0px rgba(255,255,255,1));
  }
}

#analog-clock .date {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  text-align: center;
  color: var(--analog-clock-main-color);
  text-shadow: 1px 1px 0px rgba(255,255,255,1);
  opacity: 0.75;
}
#analog-clock .date span {
  display: block;
  font-size: 80%;
}

#analog-clock .hourhand,
#analog-clock .secondhand,
#analog-clock .minutehand {
  width: 25%;
  height: 2%;
  background: var(--analog-clock-main-color);
  position: absolute;
  top: 49%;
  left: calc(50% - 3.5%);
  z-index: 2;
  transform: rotate(-90deg);
  filter: drop-shadow(3px 3px 1px rgba(0,0,0,0.15));
}
#analog-clock .hourhand {
  transform-origin: 13.5%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: -5px 0px 5px rgba(0,0,0,.3);
}

#analog-clock .minutehand {
  width: 40%;
  height: 1%;
  top: 49.5%;
  transform-origin: 8.5%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  box-shadow: -5px 5px 5px rgba(0,0,0,.3);
}

#analog-clock .secondhand {
  background-color: #c00;
  width: 50%;
  height: .5%;
  top: 49.75%;
  transform-origin: 30.5%;
  left: calc(50% - 15%);
  box-shadow: -5px -5px 5px rgba(0,0,0,.3);
}
#analog-clock .secondhand:after {
  background-color: #c00;
  content: '';
  width: calc(var(--analog-clock-size) / 24);
  height: calc(var(--analog-clock-size) / 24);
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 99;
  position: absolute;
  top: calc(var(--analog-clock-size) / 25 / 2 * -1);
  left: 0;
  box-shadow: -2px -2px 7px rgba(255,255,255,.6);
}

#analog-clock .hour12,
#analog-clock .hour1,
#analog-clock .hour2,
#analog-clock .hour3,
#analog-clock .hour4,
#analog-clock .hour5 {
  height: 1%;
  width: 88%;
  background: transparent;
  border-left: calc(var(--analog-clock-size) / 12) solid var(--analog-clock-second-color);
  border-right: calc(var(--analog-clock-size) / 12) solid var(--analog-clock-second-color);
  top: 49.5%;
  left: 6%;
  position: absolute;
}
#analog-clock .hour3 { transform: rotate(90deg); }
#analog-clock .hour1 { transform: rotate(120deg); }
#analog-clock .hour2 { transform: rotate(150deg); }
#analog-clock .hour4 { transform: rotate(210deg); }
#analog-clock .hour5 { transform: rotate(240deg); }
#analog-clock .nail {
  width: calc(var(--analog-clock-size) / 15);
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--analog-clock-main-color);
  box-shadow: 2px 2px 4px rgba(255,255,255,.6);
}


/* -- DARK THEME - */
.theme-dark {
  #analog-clock {
    --analog-clock-main-color: #ccc;
    --analog-clock-second-color: #ebebeb;
    border: calc(var(--analog-clock-size) * .04) solid #333;
    background: url('/public/images/clockface-dark.jpg') center center;
    background-size: var(--analog-clock-size);
    &:before {
      border-color: #6e6e6e;
    }
    &:after {
      box-shadow: -2px -2px 6px rgba(255,255,255,.1);
    }

    .date {
      text-shadow: none;
    }

    .logo svg {
      filter: unset;
    }
  }
}